[submodule "src/games/AICompanion"]
	path = src/games/AICompanion
	url = https://github.com/jordan5034/AICompanion.git
[submodule "src/games/CookieDestroy"]
	path = src/games/CookieDestroy
	url = https://github.com/jordan5034/Cookie-Destroy-.git
